<h1>List of People</h1>
<%= link_to 'New Person', new_person_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th colspan="3"></th>
  </tr>

  <% @people.each do |person| %>
    <tr>
      <td><%= person.name %></td>
      <td><%= person.age %></td>
      <td><%= link_to 'Show', person_path(person) %></td>
      <td><%= link_to 'Edit', edit_person_path(person) %></td>
      <td><%= link_to 'Destroy', person_path(person),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
